{% extends "base.html" %}

{% block content %}

<div>
    <h3>warehouse_manager.py</h3>
    <h4>Products List</h4>

    <h4>Name Quantity Unit Unit price
    </h4>

    <ul>
    {% for item in items %}
    <li>
        <h4>{{ item.name }} {{ item.quantity }} {{ item.unit }} {{ item.unit_price }}</h4>
    </li>
    {% endfor %}
    </ul>

    <form method="POST" action="/expenses/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Klik">
    </form>
    
</div>

{% endblock %}