{% extends "base.html" %}

{% block content %}

<div>
  <div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <h4>Products List</h4>
    {% if search_query %}
    <h3>Filtered by: {{ search_query }}</h3>    
    {% endif %}
    <form class="form-inline mb-3" action="/products" method="GET">
      <input class="form-control mr-sm-2" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search product" aria-label="Search product" name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    <hr>
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Quantity in stock</th>
          <th scope="col">Unit</th>
          <th scope="col">Unit price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if items %}
        {% for item in items %}
          <tr>
            <th scope="row">{{ item.product_index }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.unit_price }} EUR</td>
            <td>
              <form method="GET" action="/sell/{{ item.name }}">
                <input type="submit" value="Sell">
              </form>
            </td>
          </tr>
        {% endfor %}
        {% endif %}
        {{ form.hidden_tag() }}
          <form method="POST" action="/products">
            <tr>
              <th score="row">New</th>
                {% for field in form if field.widget.input_type != 'hidden' %}
                  <td>{{ field }}</td>
                {% endfor %}
                <td><input type="submit" value="Add"></td>
              </tr>
          </form>
        </tbody>
    </table>
  </div>
</div>

{% endblock %}