{% extends "base.html" %}

{% block content %}

<div>
    <h4>REVENUE</h4>

    <hr>
    <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Text</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            {% for item in revenue %}
            <tr>
                <th scope="row">{{ item.text }}</th>
                <td>{{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
    
</div>

{% endblock %}