{% extends "base.html" %}

{% block content %}

<div>
    <h4>SOLD ITEMS LIST</h4>

    <hr>
    <div class="table-responsive">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#Index</th>
            <th scope="col">Product name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Unit price</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.product_index }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.unit_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
    
</div>

{% endblock %}